.MainPage{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto 300px;
  /* border: 2px solid green; */
  /* position: relative; */
  margin-top: 80px;
  /* padding-top:80px ; */
  overflow: hidden;
}

/* ::-webkit-scrollbar{
  display: none;
} */

.MainPage {
  -ms-overflow-style: none;
}

.MainPage::-webkit-scrollbar {
  display: none;
}